.header {
  height: 90vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/sustainable_city.gif);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.header__link {
  width: 10%;
  height: 1%;
  background-color: #fdfd1f;
  color: black;
  border: 1px solid #212121;
  border-radius: 30px;
  padding: 20px 10px;
  margin-top: 15%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s, background-color 0.3s;
}

.header__link:hover {
  background-color: #5e5e5e99;
  color: #fdfd1f;
}
