.header {
  max-width: 1440px;
  height: 80px;
  background-color: black;
  padding: 10px 0;
  margin: auto;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.header > h1 > a {
  color: white;
  text-decoration: none;
}

.header_dark {
  background-color: #000;
}

.header_dark > h1 > a {
  color: black;
  text-decoration: none;
}

.header__title {
  margin: 0;
  font-size: 32px;
  line-height: 1.5;
  font-weight: 500;
}

.header__menu {
  margin-left: auto;
  position: absolute;
  right: 20px;
}

.header__logo {
  margin: 0;
  height: 100px;
  position: absolute;
  left: 20px;
}

.header__menu-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.header__menu-link {
  display: inline-block;
  text-decoration: none;
  color: grey;
}

.header__menu-link:hover {
  color: white;
}

.header_dark .header__menu-link {
  color: black;
}

@media screen and (max-width: 627px) {
  .header__menu {
  }
}

.header__logo {
}

.header__title {
}
