.page {
  background-color: #acd0c2;

  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.windmill {
  width: 100%;
  height: 550px; /* Try a smaller height */
  background: url("../images/windmills2.jpg") no-repeat center;
  background-size: cover; /* This might work better than 100% auto */
  margin: 0;
  padding: 0;
}

@media (max-width: 627px) {
  .page {
    padding: 0 10px;
  }
  .windmill {
    height: 300px;
    background-size: cover;
  }
}
