.pledgeWall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 50px;
}

.pledge__title {
    font-size: 24px;
}

.pledge__form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 18px;
    margin: 0;
    gap: 8px;
}

.pledge__submit-btn {
    min-width: fit-content;
    min-height: fit-content;
    background-color: #fdfd1f;
    color: #4b4b4d;
    border: 1px solid rgba(33, 33, 33, 0.8);
    border-radius: 30px;
    padding: 15px 40px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s, background-color 0.3s;
}
<<<<<<< HEAD

.pledge__submit-btn:hover {
    background-color: #5e5e5e99;
    color: #fdfd1f;
=======
.pledge__submit-btn:hover{
    background-color: #ADCACB;
    cursor: pointer;
>>>>>>> 50a0e69556231b86c6c2ce6b595e63b94eb76199
}

.pledges {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    padding: 0;
}

.pledge {
    border: 1px solid black;
    border-radius: 8px;
    background-color: #fdfd1f;
    padding: 12px;
    font-size: 24px;
}

.pledge__text {
    font-size: 18px;
    margin: 0;
}